header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background: linear-gradient(to top, #000000, #101129); 
    background-size: cover;
    position: relative; 
    z-index: 10; 
    text-decoration: wavy;
    color: aqua;
}
.navigation{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 20px;
    text-align: end;
}
footer {
    background: linear-gradient(to top, #000000, #101129);
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column; /* Stacks the top row and the copyright bottom */
    align-items: center;
    border-top: 1px solid aqua;
}

.footer-top-row {
    display: flex;
    justify-content: space-between; 
    width: 90%;
    max-width: 1200px;
    flex-wrap: wrap; 
    margin-bottom: 30px;
}

.Parent_Footer {
    display: flex;
    align-items: center;
    gap: 15px;
  
}

#Tolu {
    text-align: center;
    color: white; 
    font-size: 16px; 
    opacity: 0.7;
    width: 100%;
}

