
#Profile_body {
  
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: flex-start;
    

    min-height: 100vh;     
    margin: 0;
    padding: 0;
    width: 100%;

    background-image: url('milkyway.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #000; 

    color: aqua;
    text-align: center;      
}

section, header, footer {
    width: 90%;            
    max-width: 1000px;     
    margin-bottom: 20px;   
}
